.equal-height {
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* body{
  background-color: blue;
} */
a{
  color: black;
  padding: 5px;
  font-weight: 500;
  font-size: larger;
}
body{
  background-color: #C4D7FF;
}